@import url(//fonts.googleapis.com/css?family=La+Belle+Aurore);
@import url(//fonts.googleapis.com/css?family=Unica+One);
@import url(//fonts.googleapis.com/css?family=Press+Start+2P);

/* Let's get this party started */
::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #444444; 
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
}
::-webkit-scrollbar-thumb:window-inactive {
	 background: #F0F0F0; 
}

html body {
    background-image: url(../images/html.png);
    background-attachment: fixed;
    overflow: auto;
}

.hey {
    font-family: 'La Belle Aurore', cursive;
    font-size: 1.5em;
    font-weight: lighter;
    letter-spacing: 1.2px;
}

.skills {
    font-family: 'Unica One', cursive;
}

.skills-data {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.2em;
    word-break: break-all;
}

.skills-small {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8em;
    margin: 0 0 0 2px;
}

.footer-text {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.7em;
}

.avatar {
    height: 60px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -o-box-shadow:      3px 3px 7px #555;
    -icab-box-shadow:   3px 3px 7px #555;
    -khtml-box-shadow:  3px 3px 7px #555;
    -moz-box-shadow:    3px 3px 7px #555;
    -webkit-box-shadow: 3px 3px 7px #555;
    box-shadow:         3px 3px 7px #555;
}

.ico {
    height: 15px;
}

.right {
    float: right;
}
